.add-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    height: 36px;
    width: 170px;
    padding-left: 8px;

}


.add-card-form {
    overflow: visible;
    min-height: 30px;
    max-width: 200px;
}

.textarea {
    resize: none;
    max-width: 100%;
    overflow: hidden;
    outline: none;
    border: none;
    padding: 8px;
}

.add-submit-button {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.close-icon {
    cursor: pointer;
    margin-left: 8px;
}