.list-container {
    background-color: #dfe3e6;
    border-radius: 3px;
    width: 250px;
    padding: 8px;
    margin-right: 8px;
    height: 100%;
}


.list-title {
   padding: 2px 10px 2px 10px;
}

.list-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}